spring:
  application:
    name: api-gateway
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: gateway
            client-secret: kn6qXopbH5jqx26zFdyS1odEE6nVSDr4
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://keycloak:8080/realms/clinic
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/clinic
          jwk-set-uri: http://keycloak:8080/realms/clinic/protocol/openid-connect/certs

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:eureka123@eureka-server:8761/eureka/
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always