spring:
  application:
    name: gateway
    
server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      default-filters:
        - TokenRelay
      discovery:
        locator:
          enabled: true
      routes:
        - id: users-service
          uri: lb://users-service
          predicates:
            - Path=/users/**
          filters:
            - RemoveRequestHeader=Cookie

security:
  oauth2:
    client:
      provider:
        keycloak:
          issuer-uri: http://localhost:8081/realms/microservices
      registration:
        keycloak:
          client-id: gateway
          client-secret: 4565kHZTmtlp2fThZCJcHauANnWhmBwp
          scope: openid, profile, roles
